.button {
background-color: rgb(243, 240, 240);
width: 80px;
height: 50px;
font-family: cursive;
font-size: 20px;
border-radius: 7px;
position: relative;
top: 60px;
right: 120px;
}

.container {
/* position: relative;
left:500px;
/* bottom: 50px; */ 
margin-top: 35px; 
font-family: cursive;
}

.color {
  height: 20px;
  border-radius: 3px;
}
.img {
  height: 20px;
  border-radius: 3px;
  position: relative;
  left: 25px;
}

.flavor {
  height: 20px;
  border-radius: 3px;
}

.App{
font-family: cursive;
font-size: 20px;
}

.edit{
    background-color: rgb(243, 240, 240);
    font-family: cursive;
    font-size: 15px;
    border-radius: 5px;
}

.delete{
background-color: rgb(243, 240, 240);
/* width: 80px;
height: 50px; */
font-family: cursive;
font-size: 15px;
border-radius: 5px;
}